.link {
  text-decoration: none;
  color: gold;
  font-size: 22px;
}

.link.blue {
  color: blue;
}

.menu {
  background-color: #999;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding-top: 15px;
}