a {
  text-decoration: none;
  color: #161616;
}

a.active {
  color: #000080;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu {
  padding: 10px 10px;
  border-radius: 0 0 0 12px;
  background-color: #00d8ff;
  font-size: 24px;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

li + li {
  padding-top: 15px;
}

li {
  list-style: none;
}

.friends {
  color: #00d8ff;
  background: #161616;
  padding: 7px 14px;
  display: inline-block;
  border-radius: 20px;
  font-weight: 500;
  font-size: 26px;
  text-transform: uppercase;
}
