.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
  width: 1000px;
  margin: 100px auto 0;
}

img {
  width: 150px;
}

.content {
  background-color: coral;
}
